@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap');

body{
    background-color: white;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    font-family: 'Inter', sans-serif;
    background: url("/assets/beach.jpg") no-repeat center center fixed;
    background-size: cover;
}

.canvas-container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

canvas{
    width: 100%;
    height: 600px;
    background-color: transparent;
}

.bottom{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    margin: 10px;
}

.wave{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    flex-direction: column;
    padding: 25px;
}

.label{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.svgwave{
    width: 50px;
    height: 100%;
    margin: 10px;
}

.weather-bar{
    width: 100%;
    height: 250px;
    position: absolute;
    top:0;
    border-bottom: red;
    display: flex;
    margin: 15px;
    align-items: flex-start;
}

.cloud{
    width: 85%;
    height: 100%;
}

.sun{
    margin-top: 25px;
    display: flex;
    width: 15%;
    height: 50%;
    justify-content: center;
    align-items: center;
}

.sun:hover{
    cursor: pointer;
}

#SunIcon{
    width: 100%;
    height: 100%;
    animation: SunAnimation 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes SunAnimation {
    from {
        width: 100%;
        height: 100%;
    }
    to {
        width: 90%;
        height: 90%;
    }
}

#Cloud{
    display: none;
    width: 25%;
    height: 100%;
    animation: CloudAnimation 5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    position: absolute;
}

@keyframes CloudAnimation {
    from {
        left: 0;
        right: 65%;
    }
    to {
        right: 0;
        left: 65%;
    }
}