.canvas-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
}

canvas {
    width: 700px;
    height: 400px;
    border: 1px solid blue;
}